{% extends 'base.html' %}

{% block head %}
<title>
    Change
</title>
<style>
change {
    text-decoration: none;
}
    </style>
{% endblock %}
{% block body %}
<div class="card border-dark mb3" style="width: 25em;margin: 0 auto;">
        <div class="card-header" style="background-color:black;color:white"><h1 style="text-align:center">Change Password</h1></div>
</div>
    <div class="change">
        <form method="post">
            {% csrf_token %}
            <br>
            <p>Old Password:{{ form.old_password }}</p>
            <p>New Password:{{ form.new_password1 }}</p>
            <p>Confirm Password:{{ form.new_password2 }}</p><br>
            <button type="submit" class="btn btn-secondary btn-danger btn-lg" name="button" value="submit"><span class="glyphicon glyphicon-flash"></span>Changes</button>
        </form>
    </div>
{% endblock %}