<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% block head %}
    <title>
        Base
    </title>
    {% endblock %}
</head>
<body>
    <br>
        <div class="container">

                <!-- Static navbar -->
                <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Social Network</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="/account/register/">Register</a></li>
                      </ul>
                    </div><!--/.nav-collapse -->
                  </div><!--/.container-fluid -->
                </nav>
              </div> <!-- /container -->
        <div class="container">
        {% block body%}
        <h1> Welcome</h1>
        <h1>Base</h1>
        {% endblock %}
        </div>
</body>
</head>